### 1. Chi-squared Test

In [3]:
import seaborn as sns
from seaborn import load_dataset

In [4]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [7]:
tips_data = load_dataset('tips')
tips_data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [30]:
import pandas as pd
observed_table = pd.crosstab(index = tips_data['sex'], columns = tips_data['smoker'])
observed_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [31]:
from scipy import stats
chi2_score,pval,dof,expected_table = stats.chi2_contingency(observed = observed_table)
print('**************************************************************')
print('Chi-squared value : ',round(chi2_score,5))
print('P-val             : ',round(pval,5))
print('Degree of Freedom : ',dof)
print('Expected Table    :\n',expected_table)

**************************************************************
Chi-squared value :  0.00876
P-val             :  0.92542
Degree of Freedom :  1
Expected Table    :
 [[59.84016393 97.15983607]
 [33.15983607 53.84016393]]

### =====================================================================================

### Hyothesis Formulation:

##### H0 : There is no association between Male smokers and female smokers.
##### Ha : There is a association between Male smokers and female smokers(Statistically significant).

### ==================================================================================

In [26]:
#Level if significance - 5%. ie, At 5% level of significance, do we reject ot not reject?
if pval<0.05:
    print('We can reject the Null Hypothesis and we can claim that there is a association between male smokers and female smokers.')
else:
    print('We do not reject the Null Hypothesis and we can claim that there is no association between male smokers and female smokers.')

We do not reject the Null Hypothesis and we can claim that there is no association between male smokers and female smokers.

## 2. T Test

* 1 Sample
* 2 Sample
* Paired T Test
* ANOVA

In [37]:
ages = [45,40,30,20,60,50,40,30,60,45,40,30,35,20,23,34,46,58,50,40,30,35,20,23,34,46,58,50,46,58]
len(ages) #Population

30

In [38]:
import numpy as np
np.mean(ages) #population mean

39.86666666666667

In [40]:
random_selection_from_population = np.random.choice(a = ages, size=5)
random_selection_from_population

array([58, 30, 30, 50, 23])

In [41]:
np.mean(random_selection_from_population) #Sample Mean

38.2

In [53]:
_,pval = stats.ttest_1samp(a = random_selection_from_population,popmean = 40 )
print(_)
print(pval)

-0.2688064609902741
0.8013735469801487

In [51]:
#Level if significance - 10%. ie, At 10% level of significance, do we reject ot not reject?
if pval<0.1:
    print('We can reject the Null Hypothesis and we can claim that there is a significant difference in the population mean and sample mean')
else:
    print('We do not reject the Null Hypothesis and we can claim that there is no significant difference in the population mean and sample mean')

We do not reject the Null Hypothesis and we can claim that there is no significant difference in the population mean and sample mean

### 2 Sample T test

In [44]:
covishield_reaction_time = [48,50,24,24,24,50]
covaxin_reaction_time    = [0,0,2,0,2,0]

In [45]:
np.mean(covishield_reaction_time)

36.666666666666664

In [46]:
np.mean(covaxin_reaction_time)

0.6666666666666666

In [54]:
_,pval = stats.ttest_ind(a = covishield_reaction_time,b = covaxin_reaction_time)

In [56]:
#Level if significance - 1%. ie, At 1% level of significance, do we reject ot not reject?
if pval<0.01:
    print('We reject the Null Hypothesis and we can claim that there is a significant difference in the average reaction time of covishield and covaxin')
else:
    print('We do not reject the Null Hypothesis and we can claim that there is no significant difference in the average reaction time of covishield and covaxin')

We reject the Null Hypothesis and we can claim that there is a significant difference in the average reaction time of covishield and covaxin

### Paired T test

In [61]:
preweightloss_program  = [110,100,120,105,100,110,99,120,110,100]
postweightloss_program = [80,78,90,89,88,90,80,80,85,70]

In [59]:
np.mean(preweightloss_program)

107.4

In [62]:
np.mean(postweightloss_program)

83.0

In [65]:
_,pval = stats.ttest_rel(a = preweightloss_program, b = postweightloss_program)
pval

6.389963390670724e-06

In [67]:
#Level if significance - 5%. ie, At 5% level of significance, do we reject ot not reject?
if pval<0.05:
    print('We reject the Null Hypothesis and we can claim that there is a significant difference in the average weights before and after the weighloss program')
else:
    print('We do not reject the Null Hypothesis and we can claim that there is no significant difference in the average weights before and after the weighloss program')

We reject the Null Hypothesis and we can claim that there is a significant difference in the average weights before and after the weighloss program

### ANOVA

In [69]:
stats.f_oneway()

### TASK

#### FORMULATE 2 HYPOTHESIS STATEMENT FOR EACH STATISTICAL TEST along with SCRIPTS.